* {
    outline: none;
}

body {
    background: #f7f7f7;
}

.list-style-none {
    list-style: none;
}

.full-screen {
    min-height: calc(100vh - 131px);
}

%image-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#app {
    margin-top: 65px;
}

.dur-05 {
    -webkit-animation-duration: .3s;
    animation-duration: .3s;
}

.map-holder {
    position: relative;

    .map-btn {
        background: none rgb(255, 255, 255);
        border: 0px;
        margin: 10px;
        padding: 0px;
        position: absolute;
        cursor: pointer;
        user-select: none;
        border-radius: 2px;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
        overflow: hidden;
        top: 0;
        left: 0;
        z-index: 99;
        padding: 9px;
        color: #666666;
        font-weight: normal;
        text-transform: capitalize;
    }

    .map-container {
        height: 400px !important;
        border-radius: 5px;
    }

}

.empty-state {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;

    img {
        max-width: 275px;
    }

    .section-header {
        margin: 10px 0;
        padding: 0;
    }
}

.dropdown-menu {
    border-radius: 0;
    border: 0;
    margin-top: 0px;
    box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.11);
    padding: 0;
    width: 250px;

    .dropdown-icon {
        margin-right: 7px;
        font-size: 17pt;
        line-height: 0;
    }

    .dropdown-item {
        display: block;
        width: 100%;
        padding: .25rem 1.5rem;
        clear: both;
        font-weight: 400;
        text-align: inherit;
        background-color: transparent;
        border: 0;
        padding: 10px 15px;
        white-space: initial;

        &:hover,
        &:focus {
            color: #16181b;
            text-decoration: none;
            background-color: #f8f9fa;
        }
    }
}

.dropdown-scroll {
    max-height: 500px;
    overflow: auto;

    .event-list {
        padding: 0;
        margin: 0;

        .event-card {
            margin: 0;
            padding: 10px 15px;
            box-shadow: none;

            .event-img {
                width: 70px !important;
                height: 70px;
            }

            .event-body {
                .title {
                    font-size: 9pt;
                }

                small {
                    font-size: 8pt;

                    p:first-child {
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}

.modal {
    &.scale-up {
        .modal-dialog {
            opacity: 0;
            -webkit-transition: all .3s ease 0s;
            -o-transition: all .3s ease 0s;
            transition: all .3s ease 0s;
            -webkit-transform: scale(.7);
            -ms-transform: scale(.7);
            -o-transform: scale(.7);
            transform: scale(.7);
        }

        &.show {
            .modal-dialog {
                opacity: 1;
                -webkit-transform: scale(1);
                -ms-transform: scale(1);
                -o-transform: scale(1);
                transform: scale(1);
            }
        }
    }

    .modal-dialog {
        &.modal-center {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: column nowrap;
            -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
            -webkit-box-pack: center;
            -webkit-justify-content: center;
            -ms-flex-pack: center;
            justify-content: center;
            height: 100%;
            margin: 0 auto;
            -webkit-align-content: center;
            -ms-flex-line-pack: center;
            align-content: center;
        }
    }

    .modal-content {
        border: 0;
        border-radius: 3px;
        box-shadow: 0px 1px 25px rgba(0, 0, 0, 0.3);
    }

    .modal-header {
        border: 0;
        text-align: center;

        .close {
            span {
                background: #e7e7e7;
                padding: 5px;
                width: 30px;
                height: 30px;
                display: inline-block;
                border-radius: 50px;
                line-height: 17px;
            }
        }
    }
}

.panel {
    &.custom-panel {
        background: #fff;
        box-shadow: 0px 3px 14px rgba(0, 0, 0, 0.05);
        border-radius: 3px;
        margin-bottom: 15px;
        display: block;

        .panel-heading,
        .panel-body {
            padding: 15px;
        }

        .collapse-controller {
            transition: all .2s ease-in-out;
            cursor: pointer;
            font-size: 16pt;
            width: 20px;
            height: 20px;
            line-height: 0;
            text-align: center;

            &[aria-expanded="true"] {
                transform: rotate(45deg);
            }
        }
    }
}

.has-sidebar {
    display: flex;
    position: relative;
    overflow-x: hidden;

    .hubbEvent-sidemenu {
        width: 288px;
        // height: 100vh;
        min-height: 100%;
        display: block;
        background: #f6f6f6;
        transition: all .2s ease-in-out;
        .icon-android-close{
            display: none
        }
        .side-menu {
            padding: 0;
            list-style: none;
            .side-menu-item {
                &:first-child{
                    margin-top: 20px;
                }
                &.has-sub{
                    position: relative;
                    &>.nav-link{
                        &::after{
                            content: "\75";
                            font-family: "hubbevents" !important;
                            font-style: normal !important;
                            font-weight: normal !important;
                            font-variant: normal !important;
                            text-transform: none !important;
                            speak: none;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            -moz-osx-font-smoothing: grayscale;
                            position: absolute;
                            top: 23px;
                            right: 25px;
                            font-size: small;
                            transition: all .1s ease-in-out;
                            color: #6f7287;
                        }
                        &:not(.collapsed){
                            &::after{
                                transform: rotate(90deg);
                            }
                        }
                    }
                    .side-menu-sub{
                        text-indent: 20px;
                        padding: 0;
                        list-style: none;
                        .side-menu-item{
                            &:first-child{
                                margin-top: 0;
                            }
                        }
                    }

                }
                .nav-link {
                    padding: 10 20px;
                    line-height: 38px;
                    color: #6f7287;
                    &.active{
                        color: $primary;
                        background: #fff;
                    }
                }
            }
        }
    }

    .page-content {
        width: calc(100% - 288px);
        transition: all .2s ease-in-out;
        background: #fff;
        .form-control{
            background: #fff;
            border: 1px solid #dadada;
        }
        .ql-toolbar.ql-snow{
            background: #f6f6f6;
        }
        .drop-box-modal{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #39364f;
            display: none;
            cursor: pointer;
            box-shadow: 3px 0px 14px rgba(0, 0, 0, 0.05);
        }
        .page-sidemenu-header {
            padding: 15px 0;
            border-bottom: 1px solid #e6e6e6;
            margin-bottom: 20px;
            .header-actions{
                display: flex;
                flex-wrap: wrap;
                font-size: small;
                &>*{
                    display: inline-block;
                    margin-right: 7px;
                    text-transform: uppercase;
                }
            }
            .icon-navicon {
                display: none;
                font-size: 25pt;
            }
        }
    }

    @media(max-width:990px) {
        display: block;
        .icon-android-close{
            display: block !important;
            padding: 20px 20px 0;
            text-align: right;
            cursor: pointer;
            font-size: 17pt;
        }
        .side-menu-item{
            &:first-child{
                margin-top: 0px;
            }
        }
        .drop-box-modal{
            opacity: .5 !important;
            display: block !important;
        }
        .full-screen{
            min-height: 100vh;
        }
        .page-content {
            width: 100%;
            &>.container{
                max-width: 100%;
            }
            .page-sidemenu-header {
                .icon-navicon {
                    display: inline-block;
                }
            }
        }

        .hubbEvent-sidemenu {
            position: absolute;
            left: -288px;
            z-index: 99;
            top: 0;

            &.show {
                left: 0;
            }
        }
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

@mixin m-l($property) {
    margin-left: $property !important;
}

@mixin m-t($property) {
    margin-top: $property !important;
}

@mixin m-b($property) {
    margin-bottom: $property !important;
}

@mixin p-t($property) {
    padding-top: $property !important;
}

@mixin p-b($property) {
    padding-bottom: $property !important;
}

.ml-5 {
    @include m-l(5px);
}

.ml-10 {
    @include m-l(10px);
}

.ml-15 {
    @include m-l(15px);
}

.mt-50 {
    @include m-t(50px);
}

.mb-50 {
    @include m-b(50px);
}

.pt-50 {
    @include p-t(50px);
}

.pt-30 {
    @include p-t(30px);
}

.pb-50 {
    @include p-b(50px);
}

.pb-30 {
    @include p-b(30px);
}